blinker==1.9.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
flask-cors==4.0.1
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pluggy==1.5.0
Pygments==2.18.0
pytest==8.2.2
python-dotenv==1.0.1
requests==2.32.3
requests-mock==1.12.1
urllib3==2.2.2
Werkzeug==3.0.3
cdsapi>=0.7.0
netCDF4>=1.6.5
numpy>=1.26.0
xarray>=2024.1.0
cfgrib>=0.9.12.0
ecmwflibs>=0.6.1
pandas>=2.1.0
google-cloud-bigquery>=3.20.0
google-cloud-firestore>=2.15.0
earthengine-api>=1.4.0
google-cloud-storage>=2.14.0
